In [39]:
import sqlite3
database = sqlite3.connect("database.sqlite3")
cur = database.cursor()
response = cur.execute('CREATE TABLE mw_domains ("domain","type","ref")')
database.commit()

# #Open Cleaned CSV File
# csv_file = open("cleaned_file.csv", "r")

# #Insert CSV file line by line
# for l in csv_file:
#     sql_query = "INSERT INTO mw_domains VALUES (?,?,?)"
#     data = l.split(",")
#     scur.execute(sql_query, data)

# #Commit Insert
# database.commit()

# csv_file.close()

In [38]:
# QUERY DATABASE
sql_query = ""
response = cur.execute(sql_query)